@import url('https://fonts.googleapis.com/css?family=Tajawal');
body{font-family: 'Tajawal', sans-serif;padding-top: 20px}
#footer{
    font-family: 'Tajawal', sans-serif;
    background: rgba(43, 43, 43, 0.9);
    color: #fff;
    direction: rtl;
}
#footer a{
    color: #fff;
}
#footer h4{
    font-weight: bold;
    color: #f36105;
}
#footer #main_col{
    background: rgba(39, 39, 39, 0.8);
    padding: 30px 25px;
}
.copyright a {
    color: #f36105;
}
ul.triangle li{
    list-style: none;
    line-height: 25px !important;
    font-weight: 600;
}
ul.triangle li a {
    text-decoration: none;
}
ul.discover.triangle.hover.row {
    padding-right: 10px;
}
ul.triangle li::after {
    content: "\f053";
    font-family: 'FontAwesome';
    margin-left: 10px;
    color: #f47828;
    display: block;
    float: right;
    font-size: 7px;
}
#footer ul.list-unstyled.inline-block {
    padding: 10px;
}
#footer li.list-inline a {
    width: 35px;
    padding: 8px;
    display: inline-block;
    height: 35px;
    background: #f47828;
    border-radius: 50%;
    font-size: 19px;
    text-align: center;
}

#footer .list-inline {
     padding-left: 10px;
     margin-left: 0;
     list-style: none;
     display: inline-block;
 }
#footer img.img-responsive.plan{
    margin-top: 20px;
}
#footer span.contact-phone.en.pull-right {
    font-size: 18px;
    font-weight: 600;
}
#footer p[class="text-just"]{
    margin-top: 6px;
    font-weight: 600;
}
.copyright p.text-center.en span.color {
    color: #f47828;
    font-weight: 600;
}
.copyright p.text-center.en {
    padding-top: 10px;
}
#footer .pd{
padding: 30px 6px;
}
section[id="mail"]{
    background: #D38312;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#right-banner{
    background: url("../images/newsletter-bg.png") center top no-repeat no-repeat;
    background-size:100% 100% ;
    padding: 44px 0;
}
#right-banner h3{
    color:#fff;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}
#right-banner .btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    top: 112px;
    left: 154px;
    border-radius: 24px;
    border-color: #eea236;
    position: absolute;
    height: 30px;
}
#left-banner{
    background: url("../images/24.png") left center no-repeat no-repeat;
    background-size:contain ;
    color:#fff;
    text-align: right;
    font-weight: bold;
    padding: 25px 0;
}
#left-banner i.fa.fa-phone {
    width: 40px;
    height: 40px;
    color: orange;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding: 5px;
}
#left-banner h3{
    color:#fff;
    text-align: right;
    font-weight: bold;
    padding-right: 15px;
}
#left-banner p{
    color:#fff;
    text-align: right;
    font-weight: bold;
    padding-right: 15px;
    font-size: 30px;
}
#right-banner input.form-control {
    width: 64%;
    border-radius: 18px;
    margin-left: calc(50% - (64%/2));
}
section#countries {
    padding-bottom: 35px;
}
#countries h3{
    font-weight: 600;
    padding: 30px 0;
}
#countries h3:after{
    content: '';
    background: #eea236;
    width: 150px;
    height: 4px;
    top: 80px;
    left: 0;
    margin-left: calc(50% - (150px/2));
    position: absolute;
}
#countries h4{
    text-align: right;
    font-weight: 600;
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 2px solid rgba(43, 43, 43, 0.3);
}
#countries h4:hover{
    color:#eea236;
    transition: all ease-in-out 0.5s;
}
#countries div h4 span {
    float: left;
    clear: both;
    color:#eea236;
}
#countries div h4 span:hover{
    color:rgba(43, 43, 43, 0.3);
    transition: all ease-in-out 0.5s;
}
div#cover {
    background: url('../images/plane.png') left bottom no-repeat no-repeat;
    background-position-y: 25px;
    background-position-x: -75px;
    background-size: contain;
}